server:
  port: 8087

spring:
  application:
    name: pricing-service
  datasource:
    url:
    driverClassName:
    username:
    password: 
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka